sudo: required

language: go

services:
  - docker

go:
  - 1.5.4
  - 1.6.3
  - 1.7.3
  - tip

env:
  global:
    - secure: fB4N5c2BfEoaNkpGDM1wPbB9zV4ZhQqsnWZ+wyj8iDWyHlOw3Ungqb3nMEuVQMn3Yeu/PMLeDxd2h2at3+k+8g3IlEdKHS+uMzATVtOwBxwXPjBAB/oROCZPj3QlEFP32Z5AgGK9+tgl/dGjlaRvJ+BTv3YL3UMxPoaxXmi8IN0F2Z48rNgnsdyvq/u3htUGl03YkFZgucVuZ8GGD3TDOoMylcyZ8jYDooQOfoOSh+c1hFj4+mFls4t5Nc9tfgtbhrtzU7SFUKvYe14ryCxVNC7WeyUvS32nrWIS52yhxiyYU0o1umzdVqK/CwKoGh4LetiwmzDMyqZDyzVvcuvAaJ7D2FTU/yJ8t5wb0uWtmCbb6i258voS79LbnCeTxMTBn+h3CFsPKwR+xoiue+2jXIUP4K1+bk8Bj0cSfAwSlY2xkVzB/EpEXhPKlY/cGDMXF5WPpzUyeNdOUMlOiiVJ68V/H7ZwxfWMrgFxmeLHRnrrJtIVPTLdbtigf0WFew48+WELo9lv6SVYy7Q+Y46A46nNBDKqbJtHT/AhHPgqmi0Bt+5NZ/q0DgQd7og/ISGy0tbFRUUcKNFEumGjndtv7eY6GCvMIyEPZXclzPdNrPqAdWDqNeP6cwBCljx7Fve50QDe/3KAwMLEMvux9Qn0KcgIMNCrhfnAGJqEKx8BZvc=

install:
  - export GO15VENDOREXPERIMENT=1
  - go get github.com/mattn/goveralls

script:
  - make docker_test
  - $(go env GOPATH | awk 'BEGIN{FS=":"} {print $1}')/bin/goveralls -coverprofile=.cover/coverage.txt
    -service=travis-ci -repotoken=$COVERALLS_TOKEN

after_success:
  - bash <(curl -s https://codecov.io/bash) -f .cover/coverage.txt

